@{
    ViewData["Title"] = "Rejestracja";
}

<div class="card mt-5 p-3">
    <h2>Rejestracja użytkownika</h2>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label for="Email">Email</label>
            @Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Wprowadź email" })
        </div>

        <div class="form-group">
            <label for="Password">Hasło</label>
            @Html.Password("Password", null, new { @class = "form-control", placeholder = "Wprowadź hasło" })
        </div>

        <div class="form-group">
            <label for="Role">Typ konta</label>
            <select id="Role" name="Role" class="form-control">
                <option value="participant">Uczestnik</option>
                <option value="instructor">Prowadzący</option>
            </select>
        </div>

        <div class="form-group">
            <label for="FirstName">Imię</label>
            @Html.TextBox("FirstName", null, new { @class = "form-control", placeholder = "Wprowadź imię" })
        </div>

        <div class="form-group">
            <label for="LastName">Nazwisko</label>
            @Html.TextBox("LastName", null, new { @class = "form-control", placeholder = "Wprowadź nazwisko" })
        </div>

        <button type="submit" class="btn btn-primary mt-3">Zarejestruj</button>
    </form>
</div>
